@import "../variables.scss";

#MenuLeft {
  width:15vw;
  background: $secundaryColor;
  height: 100%;
  padding-top:10em;
  position: fixed;
  font-size: 1em !important;
  top: 0;
  left: 0;
  z-index: -1;
}
